
    <div id="homewrpper">
      <h1 style="    font-weight: 400;
      margin-top: 17px;
      color: #00939f;
      text-align: right;
      margin-right: 27vh;
      text-shadow: 1px 0px 2px black;">איזור אישי</h1>
      <h3 style="    color: gray;
      margin-right: 19vh;
      text-align: -webkit-center;">כאן תוכל/י למכור או לקנות מוצרים ולנהל את המכרזים שבהם תשתתף/י</h3>
    <div id="homeInfo">
      <div class="homeIconWrapper" style="background: #00939f;"><i class="material-icons homeIcon">add_shopping_cart</i></div>
      <div class="homeDescription" style="border-right: solid #00939f; width: 121vh;
      background-color: #00939f8c;
      text-align: right;
      padding-right: 12vh;
      padding-top: 2vh;"><a routerLink="addProductForSale"><h1>מכירת מוצר</h1>לצורך מכירת מוצר עליך להזין את פרטי המוצר שברשותך. לאחר מכן המערכת תשווק את המוצר שלך לקונים פוטנציאליים. לכל קונה שיחפוץ במוצר, תוכל להציע הצעת מחיר המשתלמת עבורו ובכך להגביר את סיכויי המכירה של המוצר שלך.</a></div>
      <div class="homeIconWrapper" style="background: #35b7c1;"><i class="material-icons homeIcon">playlist_add</i></div>
      <div class="homeDescription" style="    background: #35b7c166;     width: 121vh;
      border-right: solid #35b7c1; text-align: right;
      padding-right: 12vh;
      padding-top: 0.5vh;"><a routerLink="openTender"><h1>דרושים</h1>לצורך קנית מוצר עליך להזין את דרישותך ובכך יפתח מכרז.
  לאחר מכן יערך חיפוש במערכת אחר מוצרים המתאימים לדרישותיך. תוצאות
  אלו יוצגו לך, ויהיה עליך לסמן את המוצרים הרצויים לך. כל מוצר שיבחר על ידך יוגדר
  כמשתתף במכרז, ובעלי המוצרים הנבחרים יוכלו להציע הצעות מחיר למכרז.
  בסיום תקופת המכרז יוצגו לפניך הצעות המחיר השונות ומתוכם תוכל לבחור את ההצעה המשתלמת ביותר.</a></div>
      <div class="homeIconWrapper" style="background: #07c1d0;"><i class="material-icons homeIcon">local_grocery_store</i></div>
      <div class="homeDescription" style="background: #07c1d06b;    width: 121vh;
      border-right: solid #07c1d0; text-align: right;
      padding-right: 12vh;
      padding-top: 2vh;"><a routerLink="userSavedProductForSale"><h1>המוצרים שלי למכירה</h1>כאן תוכל לצפות במוצרים למכירה שנשמרו במערכת על ידך, לערוך אותם, להציע הצעות מחיר למכרזים שבהם המוצרים משתתפים ועוד.</a></div>
      <div class="homeIconWrapper" style="background: #7adfe6;"><i class="material-icons homeIcon">list</i></div>
      <div class="homeDescription" style="background: #7adfe654;    width: 121vh;
      border-right: solid #7adfe6; text-align: right;
      padding-right: 12vh;
      padding-top: 2vh;"><a routerLink="savedTenders"><h1>הדרושים שלי</h1>כאן תוכל לצפות במכרזים שאתה מנהל, לערוך אותם, לבחור מוצרים , להתעדכן בפרטים לגבי המכרז וכמובן לקנות את המוצר שאתה חפץ בו.</a></div>
      <div class="homeIconWrapper" style="background: #8ebec1;"><i class="material-icons homeIcon">person</i></div>
      <div class="homeDescription" style="    background: #8ebec166;    width: 121vh;
      border-right: solid #8ebec1; text-align: right;
      padding-right: 12vh;
      padding-top: 2vh;"><a routerLink="UpdatePersonalDetails"><h1>הגדרת פרטים אישיים</h1>כאן תוכל לעדכן את פרטיך האישיים -אותם שמרת במערכת בעת הרישום.</a></div>
    </div>
    </div>
    