<h2 style="    margin-top: 30vh;
text-align: right;">מכרזים שהמוצר משתתף בהם</h2>
<div class="row">
  <div class="col-10">
  <table class='table table-striped' *ngIf="TenderList" dir="rtl">
      <thead>
          <tr>
              <th>מוצר</th>
              <th>תיאור</th>
              <th>מחיר מקסימלי</th>
              <th>התחלת המכרז</th>
              <th>סיום המכרז</th>
              <th>עיר</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of TenderList" (click)="editSuggestPrice(item.Id)">
              <div *ngFor="let p of products">
                  <td *ngIf="p.ProductId==item.ProductId">
                      {{p.ProductName}}
                  </td>
              </div>
              <td>{{item.Description}}</td>
              <td>{{item.MaxCost}}</td>
              <td>{{item.StartDate|date:'dd/MM/yyyy'}}</td>
              <td>{{item.EndDate|date:'dd/MM/yyyy'}}</td>
  
              <div *ngFor="let c of cities">
                  <td *ngIf="c.CityId==item.City">
                      {{c.CityName}}
                  </td>
              </div>
              <!-- <td>
                  <button title="ערוך " class="btn btn-info" (click)="editTender(item) ">ערוך</button>
                  <button title="מחק " class="btn btn-secondary" (click)="deleteTender(item.Id) ">מחק</button>
              </td> -->
          </tr>
      </tbody>
  </table>
  </div>
  </div>