<!-- <form class="col s12" (ngSubmit)="addProductForSale()">
  <div class="row">
    <select name="category" #c (change)="onSelectCategory(c.value)" value="בחר קטגוריה">
      <option [ngValue]="undefined" hidden selected>בחר קטגוריה</option>
      <option *ngFor="let item of categoryList" [ngValue]="item.CategoryId" value={{item.CategoryId}}>{{item.CategoryName}}</option>
    </select>
    <label for="category">קטגוריה</label>
  </div>
  <div class="row">
    <select name="product" [(ngModel)]="newProductForSale.ProductId" required="required" #product="ngModel">
      <option [ngValue]="undefined" hidden selected>בחר קטגוריה</option>
      <option *ngFor="let item of productList" value={{item.ProductId}} [disabled]="!isDisabled">{{item.ProductName}}</option>
    </select>
    <label for="product">מוצר</label>
  </div>

  <input type="file" accept="image/*" (change)="onImageChangeFromFile($event)">
  <img [src]="newProductForSale.ImageUrl" alt="" />
  <app-upload-file></app-upload-file>

  <div class="row">
    <div class="input-field col s6">
      <textarea [(ngModel)]="newProductForSale.Description" name="description"></textarea>
      <label for="description">תיאור</label>
    </div>
  </div>

  <div class="row">
    <select name="city" [(ngModel)]="newProductForSale.City" required="required" #city="ngModel">
      <option [ngValue]="undefined" hidden selected>בחר עיר</option>
      <option *ngFor="let item of citiesList" value={{item.CityId}}>{{item.CityName}}</option>
    </select>
    <label for="city">עיר</label>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input type="number" [(ngModel)]="newProductForSale.InitialBid" name="InitialBid">
      <label for="MaxCost">מחיר מקסימלי</label>
    </div>
  </div>
 
  <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="newProductForSale.InterestedInMessages" name="messages">מעוניין בקבלת הודעות?</label>
    </div>
  <button class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>
</form> -->

 


<body class="w3-container">
    <div id="id01" class="w3-modal" style="display:block">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="w3-modal-content w3-card-3 w3-animate-zoom">
              <div class="w3-center w3-light-grey">
                <br>
                <h1 class="sign-up__title">
                  מכירת מוצר
                </h1>
                <p class="sign-up__descr">
                  הזן את פרטי המוצר שברצונך למכור
                </p>
              </div>
              <div class="w3-center">
                <br>
                <header class="sign-up__header">
                  <span class="w3-closebtn w3-hover-red w3-container w3-display-topright">&times;</span>
  
                </header>
              </div>
              <div class="w3-container">
                <div class="w3-section">
                  <body>
                      <form (ngSubmit)="addProductForSale()" class="col s12">
                          <div class="input">
                              <div class="input__container">
                            <!-- <label for="category" class="input__label">קטגוריה</label> -->
                            <select name="category" class="input__field"  #c (change)="onSelectCategory(c.value)" value="בחר קטגוריה">
                              <option [ngValue]="undefined" hidden selected>קטגוריה</option>
                              <option *ngFor="let item of categoryList" [ngValue]="item.CategoryId" value={{item.CategoryId}}>{{item.CategoryName}}</option>
                            </select>
                          </div>
                        </div>
                          <div class="input">
                              <div class="input__container">
                              <label for="product" class="input__label" *ngIf="!newProductForSale.ProductId">מוצר</label>
                            <select name="product" class="input__field" [(ngModel)]="newProductForSale.ProductId" required="required" #product="ngModel">
                              <option [ngValue]="undefined" hidden selected>בחר מוצר</option>
                              <option *ngFor="let item of productList" value={{item.ProductId}} [disabled]="!isDisabled">{{item.ProductName}}</option>
                            </select>
                          </div>
                        </div>
                          <div class="form__row">
                  
                              <div class="input">
                                 <div class="input__container">
                               <!-- <label for="areas" class="input__label">אזור</label> -->
                                  <select class="input__field" name="areas" #a (change)="onSelectArea(a.value)" value="בחר איזור">
                                      <option [ngValue]="undefined" hidden selected>איזור</option>
                                    <option *ngFor="let item of AreasList" [ngValue]="item.AreaId" value={{item.AreaId}}>{{item.AreaName}}</option>
                                  </select>
                                </div>
                              </div>
                            <div class="input">
                              <div class="input__container">
                               <label for="city" class="input__label" *ngIf="!newProductForSale.City">עיר</label>
                                <select class="input__field" id="sel1" name="city" [(ngModel)]="newProductForSale.City" required="required" #product="ngModel">
                                    <option [ngValue]="undefined" hidden selected>עיר</option>
                                  <option *ngFor="let item of citiesList" value={{item.CityId}}>{{item.CityName}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <app-upload-file (uploadEvent)="uploadImg($event)"></app-upload-file>
                          <div class="row">
                            <div class="input">
                              <div class="input__container">
                                <label class="input__label" for="description" *ngIf="newProductForSale.Description==''">תיאור</label>
                                <input class="input__field" id="description" required placeholder="תיאור" type="text" [(ngModel)]="newProductForSale.Description"
                                  name="description" />
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input">
                              <div class="input__container">
                              <label for="InitialBid" class="input__label" *ngIf="!newProductForSale.InitialBid">מחיר התחלתי</label>
                                <input class="input__field" id="InitialBid" required type="number" [(ngModel)]="newProductForSale.InitialBid" name="InitialBid"
                                />
                              </div>
                            </div>
                          </div>
                          
                          <div class="row">
                            <label>המוצר חדש?</label>
                            <div class="input" style="    margin-top: 1vh;margin-left: 47vh;">
                              <label class="switch">
                                <input type="checkbox" [(ngModel)]="newProductForSale.IsNew" name="messages" dir="ltr">
                                <div class="slider round" dir="ltr"></div>
                              </label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="component component--primary form__button">
                              <button class="btn" style="    margin-right: 39vh;    background: #00939f;
                              margin-right: 48vh;" tabindex="1" type="submit">שמירה</button>
                            </div>
                          </div>
                          <div class="form__row sign-up__sign">
                          </div>
                        </form>
                    </body>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>