<div id="wrapper">
<h1 style="font-weight: 500; color: #00939f;">ברכותינו לרגל סגירת המכרז</h1>
<p style="    margin-top: 6vh;
line-height: 6vh;">לצורך סגירת העיסקה נשלחים כעת פרטי המוכר לכתובת המייל שלך, וכן פרטיך נשלחים לכתובת המייל של המוכר .</p>
<!-- <p>ברגעים אלו נשלחים פרטי מוכר המוצר לתיבת המייל שלך וכן מוכר המוצר מקבל את פרטיך לצורך יצירת קשר בינכם לסיום העיסקהץ</p> -->
<p style="font-weight: 500 ">תודה שקנית במכרזול</p>
<img style="height: 6vh; margin-top: -18vh; margin-right: 1vh;" src="../../../../assets/לוגו קטן.png"/>
</div>