<!-- <h1 class="sign-up__title">
  איפוס סיסמה
</h1>


<div class="w3-center">
  <br>
  <header class="sign-up__header">
    <span class="w3-closebtn w3-hover-red w3-container w3-padding-hor-8 w3-display-topright" (click)="cancle()">&times;</span>

  </header>
</div>

<div class="w3-container">
  <div class="w3-section">

    <body *ngIf="isEffectiveResetPassword">
      <p class="sign-up__descr">
        הקש סיסמה חדשה
      </p>
      <form class="sign-up__form form" (ngSubmit)="resetPassword()" ngNativeValidate>

        <div class="form__row">
          <div class="input">
            <div class="input__container">
              <input class="input__field" id="password" required placeholder="Password" type="password" [(ngModel)]="password"
                name="password" />
              <label class="input__label" for="password">סיסמה</label>
            </div>
          </div>
        </div>
        <div class="form__row">
          <button type="submit" class="btn btn-warning" mdbRippleRadius>אישור</button>
        </div>
      </form>

    </body>
    <div *ngIf="!isEffectiveResetPassword">
      <p>פג תוקף קוד איפוס סיסמה.</p>
    </div>
  </div>
</div> -->



<body class="w3-container">
    <div id="id01" class="w3-modal" style="display:block">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="w3-modal-content w3-card-3 w3-animate-zoom">
              <div class="w3-center w3-light-grey">
                <br>
                <h1 class="sign-up__title">
                    איפוס סיסמה
                </h1>
                <p class="sign-up__descr">
                       הקש סיסמה חדשה
                </p>
              </div>
  
              <div class="w3-center">
                <br>
                <header class="sign-up__header">
                  <span class="w3-closebtn w3-hover-red w3-container w3-padding-hor-8 w3-display-topright" (click)="cancle()">&times;</span>
  
                </header>
              </div>
  
              <div class="w3-container">
                <div class="w3-section">
  
                  <body *ngIf="isEffectiveResetPassword">
                    <form class="sign-up__form form" (ngSubmit)="resetPassword()" ngNativeValidate>
                        <div class="form__row">
                            <div class="input">
                              <div class="input__container">
                                <input class="input__field" id="password" required placeholder="Password" type="password" [(ngModel)]="password"
                                  name="password" />
                                <label class="input__label" for="password">סיסמה</label>
                              </div>
                            </div>
                          </div>
                      <div class="form__row">
                          <button type="submit" class="btn" mdbRippleRadius>אישור</button>
                        <!-- <div class="component component--primary form__button">
                          <button class="btn btn--regular " tabindex="1" type="submit">כנס</button>
                        </div> -->
                      </div>
                      <div class="form__row sign-up__sign">
                      </div>
                    </form>
                  </body>
                  <div *ngIf="!isEffectiveResetPassword">
                      <p>פג תוקף קוד איפוס סיסמה.</p>
                    </div>
                </div>
              </div>
  
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>