
<!-- <div class="navbar navbar default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="app/login"><h2>כניסה</h2></a></li>
      <li routerLinkActive="active"><a routerLink="app/ShowAllProductsForSale"><h2>כל המוצרים למכירה</h2></a></li>
      <li routerLinkActive="active"><a routerLink="app/ShowAllTenders"><h2>דרושים</h2></a></li>
    </ul>
  </div>
</div>
<div ng-controller="AppCtrl" ng-cloak="" class="navBardemoBasicUsage" ng-app="MyApp"> -->
  <slideshow
  [minHeight]="'430px'"
  [autoPlay]="true"
  [showArrows]="false"
  [imageUrls]="imageUrlArray"
  [autoPlayInterval]="10000"
  [autoPlayWaitForLazyLoad]="true">
</slideshow>
<div id="slideText">
  <h1>
    לקניות שלך יש כתובת אחת.
  </h1>
  <h1>מכרזול.</h1>
</div>
<br/>

<app-show-last-tenders></app-show-last-tenders>
<!-- <div id="icons"> -->
  <!-- <div><i class="material-icons icon">add_shopping_cart</i><h1>מוצרים למכירה</h1></div> -->
  <!-- <div><i class="material-icons icon">playlist_add</i></div> -->
  <!-- <div><i class="material-icons icon">local_grocery_store</i></div> -->
  <!-- <div><i class="material-icons icon">list</i><h1>מכרזים פעילים</h1></div> -->
  <!-- <div><i class="material-icons icon">person</i></div> -->
<!-- </div> -->
  <!-- <main class="w3-animate-left">
    <div class="container"><section class="section feature-box pt-5">
  
        <h1 class="section-heading pt-4">מה זה בעצם מכרזול?</h1>

        <p class="section-description lead grey-text">מה המטרה של אתר זה?</p>

        <div class="row features-small pt-5">
    
            <div class="col-lg-5 mb-r center-on-small-only">
                <img src="../assets/e-commerce.png" alt="" class="img-fluid z-depth-0">
            </div>
   
            <div class="col-lg-7">
    

                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-bank blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Safety</h5>
                        <p class="grey-text">האתר שפיתחנו עוסק בקנית מוצרים "יד שניה". אכן, ישנם אתרים רבים שנועדו לכך, אך באתר זה ישנו חידוש, החידוש טמון בשיטת הקניה - שיטת המכרז, שנותנת מעלות יחודיות הן לקונה והן למוכר</p>
                    </div>
                </div>
 
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-code blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Technology</h5>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>

                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-money blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Finance</h5>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>

            </div>
 
        </div>
  
    </section>

    </div> 
  </main> -->

<!-- <mdb-card>
        <mdb-card-body>
          <form>
            <p class="h3 text-center my-4 blue-text">Sign up</p>
      
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="orangeForm-name" class="form-control" mdbInputDirective>
              <label for="orangeForm-name">Your name</label>
            </div>
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" id="orangeForm-email" class="form-control" mdbInputDirective>
              <label for="orangeForm-email">Your email</label>
            </div>
      
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="orangeForm-pass" class="form-control" mdbInputDirective>
              <label for="orangeForm-pass">Your password</label>
            </div>
      
            <div class="col-md-12 text-center">
      
              <p class="font-small text-muted">Would you like to receive our newsletter?</p>
      
              <div class="switch primary-switch text-muted font-small">
                <label>
                  No
                  <input type="checkbox" checked="checked">
                  <span class="lever"></span>
                  Yes
                </label>
              </div>
      
            </div>
      
            <div class="text-center my-3">
              <button mdbBtn color="primary" rounded="true" class="waves-light" mdbWavesEffect>Sign up</button>
            </div>
      
          </form>
        </mdb-card-body>
      </mdb-card> -->
      <!-- <button mdbBtn color="primary" rounded="true" class="waves-light" mdbWavesEffect>Sign up</button> -->

      
      <!-- <button type="button" class="btn btn-warning" mdbRippleRadius>Warning</button> -->